<h4> <%= comment.commenter %> el <%= comment.created_at %> </h4>
<p> <code> <%= comment.body %> </code> </p>
  <%= link_to 'Eliminar Comentario', [comment.post, comment],
               method: :delete,
               data: { confirm: '¿Estás seguro?' } %>
</p>

<br/>

