<p> <a class="muted"><%= link_to "Home", root_path %></a>  | 
<% if user_signed_in? %>
  <a class="muted"><%= link_to "Salir", destroy_user_session_path, :method => :delete %></a>
  <% else %>
    <a class="muted"><%= link_to "Ingresar", new_user_session_path %></a>  | 
    <a class="muted"><%= link_to "Registrarse", new_user_registration_path %></a>
  <% end %>
